@{
    ViewBag.Title = "会员卡";
}
@model SPACRM.Entity.Entities.MembershipCard_EX
@section htmlhead{
    @Html.Css("plugin/xjgrid", "plugin/xjdailog", "common", "plugin/validator", "plugin/tip")
    <link rel='stylesheet' type='text/css' href='../../assets/css/tree.css' />
   @* <script type='text/javascript' src='../../assets/plugins/form-ckeditor/ckeditor.js'></script> *@
    <style type="text/css">
        .searchpanel
        {
            background-color: #f7f8fa; /*border: 1px solid #ccc;*/
            padding: 5px 15px;
            margin-left: 10px;
            border-radius: 4px;
        }

            .searchpanel .form-group, .searchpanel .btnpanel_right
            {
                /*
            display: block;
            overflow: hidden;
            zoom: 1;
            margin-bottom: 0px;
            */
            }

                .searchpanel .form-group label
                {
                    margin-bottom: 4px;
                }

        #SearchBox
        {
            width: 200px;
        }
    </style>
}
<div class="s_container">
    <div id="page-heading">
        <h2>
            <i class="fa fa-money"></i>会员卡</h2>
        <form class="form-horizontal" id="frmSave2" method="post" action="@Url.Action("SaveMerSeting")" role="form">
            @Html.Hidden("SetingID",Model.Seting.ID)
            @Html.Hidden("IsMemCardReg",Model.Seting.IsMemCardReg)
            @Html.Hidden("IsShowMemCardPrivilege",Model.Seting.IsShowMemCardPrivilege)
            @Html.Hidden("IsShowCoupons",Model.Seting.IsShowCoupons)
          @*  @Html.Hidden("IsShowActivity",Model.Seting.IsShowActivity)*@
            @Html.Hidden("IsShowMemCardAmount",Model.Seting.IsShowMemCardAmount)
            @Html.Hidden("IsShowMemInfo",Model.Seting.IsShowMemInfo)
            <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">会员卡配置:</label>
            </div>
            <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">
                  @Html.CheckBox("IsMemCardReg1",Model.Seting.IsMemCardReg) 领会员卡需要注册</label>

            </div>
            <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">
                   @Html.CheckBox("IsShowMemCardPrivilege1",Model.Seting.IsShowMemCardPrivilege) 显示微会员卡特权</label>
            </div>
            <div class="form-group col-xs-6">
                @*
                    @Html.CheckBox("IsShowCoupons")*@
               <label class="col-sm-12" style="text-align: left"> 
                   @Html.CheckBox("IsShowCoupons1")显示我的优惠券</label>
            </div>
             @*<div class="form-group col-xs-4">
                <label class="col-sm-12" style="text-align: left">
                    @Html.CheckBox("checkbox1")领取会员卡需要注册</label>

            </div>*@
             <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">&nbsp;</label>
            </div>
           @* <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">
                   @Html.CheckBox("IsShowActivity1",Model.Seting.IsShowActivity)显示微会员活动</label>

            </div>*@
            <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">
                   @Html.CheckBox("IsShowMemCardAmount1",Model.Seting.IsShowMemCardAmount)显示会员卡金额</label>
            </div>
            <div class="form-group col-xs-6">
                <label class="col-sm-12 " style="text-align: left">
                  @Html.CheckBox("IsShowMemInfo1",Model.Seting.IsShowMemInfo)  显示会员信息</label>
            </div>

            <div class="form-group col-xs-2">
                <label class="col-sm-12" style="text-align: left">&nbsp;</label>
            </div>
            <div class="form-group col-xs-10">
                <label class="col-sm-12 " style="text-align: left"><button type="button" id="btnSave2" class="btn btn-primary">确 定</button></label>
            </div>
             
        </form>
    </div>

    <div id="mainbody" class="panel panel-primary">
        <div class="panel-heading">
            <h4>粉丝列表</h4>
        </div>
        <div class="panel-body" style="min-height: 350px">
            <div class="row">
                <div class="col-md-2 form-group">
                    <button type="button" class="btn default" id="btnAdd">
                         <i class="fa fa-plus"></i> 新 增</button>
                </div>
                <div class="text-right col-md-10">
                    <form id="formQuery" class="form-inline" role="form" method="post">
                        <div class="form-group">
                            <input id="Name" name="Name" class="form-control" type="text" placeholder="昵称" />
                            <div class="btn-group">
                                <button class="btn-primary btn"><i class="fa fa-search"></i>查询</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive" id="gridlist">
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;</button>
                        <h4 class="modal-title">确认！</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            你确认要删除此消息吗？
                        </p>
                        <input id="hdCurrentId" type="hidden" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取 消</button>
                        <button type="button" id="btnConfirm" class="btn btn-primary">
                            确 定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- /.modal -->
        <div id="EditModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">会员卡</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal" id="frmSave" method="post" action="@Url.Action("SaveMemCard")" role="form">
                            @Html.Hidden("ID", Model.Card.ID)
                          
                            <div class="form-group col-xs-12">
                        <label class="col-sm-2 control-label"><span style="color: red">*</span>标题:</label>
                        <div class="col-sm-10">
                            @Html.TextBox("Title", Model.Card.Title, new { @class = "form-control", placeholder = "标题" })
                        </div>
                    </div>
                            <div class="form-group col-xs-12" id="divnews">
                                <label class="col-sm-2 control-label" ><span style="color: red">*</span>所属门店:</label>
                                <div class="col-sm-10">
                                     @Html.ResourceDropDownList("SID", "SID", Model.Card.SID, new { @class = "form-control" }, Model.Card.SID.ToString(), false,Model.Card.Merchants_ID.ToString())
                                </div>
                            </div>
                    <div class="form-group col-xs-12">
                        <label class="col-sm-2 control-label"><span style="color: red">*</span>内容:</label>
                        <div class="col-sm-10">
                            <textarea name="Explain" id="Explain" style="width:100%" rows="10" >@Model.Explain</textarea>
                        </div>
                    </div>
                        </form>
                    </div>
                    <div style="clear: both"></div>
                    <div class="modal-footer">
                         <button type="button" id="btnSave" class="btn btn-primary">确 定</button>
                        <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">取 消</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section jssection{
    <script type="text/javascript">

        var util = {};
        var options = {
            GetFansUrl: "@Url.Action("GetMemCardList")",
            GetFUrl: "@Url.Action("GetFans")",
            listUrl: "@Url.Action("GetMemCardList")",
            editUrl: "@Url.Action("MemCardEdit")",
            deleteUrl: "@Url.Action("DeleteInformation")",
            GetMerSeting: "@Url.Action("GetMerSeting")",
            //myeditor: CKEDITOR.replace('ckeditor', { toolbar: 'Basic' })
        };

        if ($("#IsMemCardReg").val() == "True") {
            $("#IsMemCardReg1").prop("checked", true);
        }
        if ($("#IsShowMemCardPrivilege").val() == "True") {
            $("#IsShowMemCardPrivilege1").prop("checked", true);
        }
        if ($("#IsShowCoupons").val() == "True") {
            $("#IsShowCoupons1").prop("checked", true);
        }
        //if ($("#IsShowActivity").val() == "True") {
        //    $("#IsShowActivity1").prop("checked", true);
        //}
        if ($("#IsShowMemCardAmount").val() == "True") {
            $("#IsShowMemCardAmount1").prop("checked", true);
        }
        if ($("#IsShowMemInfo").val() == "True") {
            $("#IsShowMemInfo1").prop("checked", true);
        }

    </script>
    @Html.Js("plugins/xjgrid/xjgrid", "plugins/xjdailog/xjdailog", "plugins/validator/validator", "app/wechat/MemCard", "app/company/jquery.tree")
}
