@{
    ViewBag.Title = "支付方式管理";
    var orgId = ViewData["ORG_ID"] == null ? "0" : ViewData["ORG_ID"].ToString();
}
@model SPACRM.Entity.PAYMENT_MODE
@section htmlhead{
    
  @Html.Css("plugin/xjgrid", "plugin/xjdailog")
    @Html.Css("plugin/validator")
     <style type="text/css">
         .h_title {
             padding: 5px 15px;
             border-bottom: solid 1px #e6e5e5;
             font-size: 18px;
             margin-bottom: 5px;
         }

         .searchpanel {
             background-color: #f7f8fa; /*border: 1px solid #ccc;*/
             padding: 5px 15px;
             margin-left: 10px;
             border-radius: 4px;
         }

             .searchpanel .form-group label {
                 margin-bottom: 4px;
             }
     </style>
}
<div class="s_container">
    <div id="page-heading">
        <h2>
            <i class="fa fa-sitemap"></i> 支付方式管理</h2>
    </div>
    <div id="mainbody" class="panel panel-primary">
        <div class="panel-heading">
            <h4>支付方式列表
            </h4>
        </div>
        <div class="panel-body" style="min-height: 350px">
            <div class="row">
                <div class="col-md-2 form-group">
                    <button type="button" class="btn default" id="btnAdd">
                        <i class="fa fa-plus"></i>新 增</button>
                </div>
                <div class="text-right col-md-10">
                    <form id="formQuery" class="form-inline" method="post" role="form">                     
                        <div class="form-group">
                            @Html.ResourceDropDownList("POST_TYPES", "CASH_TYPE", "", new { @class = "form-control" }, orgId, false)
                             <div class="btn-group">
                                <button class="btn-primary btn"><i class="fa fa-search"></i>查 询</button>
                            </div>
                        </div>                      
                    </form>
                </div>
                <div class="col-md-12">
                    <div id="gridlist">
                    </div>
                </div>
            </div>
        </div>
        <div id="confirmModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">确认！</h4>
                    </div>
                    <div>
                    </div>
                    <div class="modal-body">
                        <p>你确认要删除 [ <span id="lbuserName"></span>] 吗？</p>
                        <input id="hdCurrentId" type="hidden" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                        <button type="button" id="btnConfirm" class="btn btn-primary">确 定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="EditModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">支付方式维护</h4>
                    </div>

                    <div class="modal-body">
                        <form class="form-horizontal" id="frmSave" method="post" action="@Url.Action("PostSave")" role="form">
                            @Html.Hidden("ID", Model.ID)
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>支付方式名称:</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("PAY_NAME", Model.NAME, new { @class = "form-control", placeholder = "请输入支付方式名称", maxlength = "10", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>归属分类:</label>
                                <div class="col-sm-6">
                                     @Html.ResourceDropDownList("PAY_TYPE", "CASH_TYPE", "", new { @class = "form-control", required = "required" },orgId, false)
                                </div>
                                <div class="col-sm-3">
                                    <p class="help-block" style="color: red;"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>是否允许购买卡:</label>
                                  <div class="col-sm-7">
                                     @Html.ResourceRadioList("YES_NO1", "YES_NO",Model.IS_BUY_CARD==null?0:(((bool)Model.IS_BUY_CARD.Value? 1 : 0)), null)
                                     @* @Html.ResourceRadioList("YES_NO1", "YES_NO",(Model.IS_BUY_CARD.HasValue ? (Model.IS_BUY_CARD.Value ? 1 : 0) : 0), null)*@
                                 </div>
                                <div class="col-sm-6">
                                   
                                </div>
                            </div>

                              <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>是否允许消费项目:</label>
                                    <div class="col-sm-7">
                                     @Html.ResourceRadioList("YES_NO2", "YES_NO",Model.IS_BUY_SERVICE==null?0:(((bool)Model.IS_BUY_SERVICE.Value? 1 : 0)) , null)
                                 </div>

                                <div class="col-sm-6">
                                  
                                </div>
                            </div>
                              <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>是否允许购买产品:</label>

                                    <div class="col-sm-7">
                                     @Html.ResourceRadioList("YES_NO3", "YES_NO", Model.IS_BUY_GOODS==null?0:(((bool)Model.IS_BUY_GOODS.Value? 1 : 0)), null)
                                 </div>

                                <div class="col-sm-6">
                                   
                                </div>
                            </div>

                             <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>提成系数:</label>                                
                             @*   <div class="col-sm-6">
                                   @Html.TextBox("COMMISSIONRATE", Model.COMMISSION_RATE, new { @class = "form_control", placeholder = "请输入提成点数", maxlength = "10", required = "required" })
                                </div>*@
                                    <div class="col-sm-6">
                                      @Html.TextBox("COMMISSIONRATE", Model.COMMISSION_RATE, new { @class = "form-control", placeholder = "请输入提成系数", maxlength = "10", required = "required" })
                                </div>
                            </div>

                         @*    <div class="form-group">
                                <label class="col-sm-3 control-label"><span style="color: red">*</span>折扣点数:</label>

                                
                                <div class="col-sm-6">
                                      @Html.TextBox("DISCOUNTRATE", Model.DISCOUNT_RATE, new { @class = "form-control", placeholder = "请输入折扣点数", maxlength = "10", required = "required" })
                                </div>
                            </div>*@


                        </form>

                        <div class="modal-footer">
                            <button type="button" id="btnSave" class="btn btn-primary">确 定</button>
                            <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">取 消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
</div>
@section jssection{
    <script type="text/javascript">
        var util = {};
        var options = {
            listUrl: "@Url.Action("PaymentList")",
            editUrl: "@Url.Action("PostEdit")",
            deleteUrl: "@Url.Action("PostDelete")"
        };
    </script>
    @Html.Js("plugins/xjgrid/xjgrid", "plugins/xjdailog/xjdailog", "plugins/validator/validator", "app/systemset/paymentmode")
}
